# Default ignored files
/shelf/
/workspace.xml
target/
*.iml
.idea/
.mvn/
*.class
# Datasource local storage ignored files
/../../../../:\project\springcloud-learn-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/